<div class="title-container">
	<div class='title-wrap'>
		<h1 class="title">Edit Stockist</h1>
	</div>
</div>

<div class="page-container">
	<%= render 'shared/profiles_stockist_form', method: :put, url: edit_stockist_path %>
</div>

