
<div class="title-container">
	<div class='title-wrap'>
		<h1 class="title">Become a Stockist</h1>
	</div>
<div>

<div class="page-container">
	<%= render 'shared/profiles_stockist_form', method: :post, url: profiles_stockist_path %>
</div>