<h1> Profile</h1>

<ul>
	<% displayed_listing = [] %>
	<% @listing.each do |listing| %>
		<% listing.sizes.each do |size| %>
			<% unless displayed_listing.include?(listing.id) %>
				<li><%= listing.stockist.business_name %> | <%= listing.stockist.addresses.first.suburb%></li>
				<li><%= link_to listing.name, listing %> </li>
				<li>Min: <%= number_to_currency(size.price)%></li>
				<% displayed_listing << listing.id %>
			<% end %>
		<% end %>
	<% end %>
</ul>
