<h1> Profile </h1>
<h5><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></h5>

<div class="container-fluid">
	<div class="buttons">
		<% if current_user.stockist.present? %>
			<button type="button" class="btn btn-light"> 
				<%= link_to "#{current_user.stockist.business_name.capitalize}", profiles_stockist_path %> 
			</button>
				<% else %>
			<button type="button" class="btn btn-light"> 
				<%= link_to "Become Stockist", profiles_stockist_new_path %> 
			</button>
		<%end%>
		<button type="button" class="btn btn-light"> 
				<%= link_to "Edit Profile", edit_user_registration_path %> 
		</button>
	</div>
</div>