<h1>Listings#edit</h1>

<button type="button" class="btn btn-light"> 
	<%= link_to "Add Size", add_size_path %> 
</button>
<div>
</div>

<%= render 'shared/listing_form', method: :put, url: update_listing_path %>
