<div class="title-container">
	<div class='title-wrap'>
		<h1 class="title">Beans</h1>
	</div>
</div>

<%= render 'shared/display_all_listings'%>

		<%# <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a> %>