<div class="title-container">
	<div class='title-wrap'>
		<h1 class="title">Beans</h1>
	</div>
</div>

<div class="page-container">

	<%# <div>
		<%= form_tag(listings_path, method: :get) do %>
			<%# text_field_tag(:query, params[:query] )%>
		<%# end %>
	<%# </div> %>

	<%= render 'shared/display_all_listings'%>
</div>
