<div class="title-container">
	<div class='title-wrap'>
		<h1 class="title">New Beans</h1>
	</div>
</div>

<div class="page-container">
	<%= render 'shared/listing_form', method: :post, url: new_listing_path %>
</div>
