<article class="show-listing-container">
	<div class="reservations">
		<ul class="list-group list-group-flush"> 
			<% if @reservations.present? 
				@reservations.reverse.each do |r| %>
					<li class="list-group-item list-group-item-light"><%= link_to "#{r.created_at}   |  #R#{r.id}  |   #{r.size.listing.brand.brand}  |  #{r.size.listing.name}  |  #{number_to_currency(r.total_price)}", r %></li>
				<% end %>
			<% else %>
				<p> You currently have no reservations</p>
			<% end %>
		</ul>
	</div>
</article>