<article class="show-listing-container">
	<div>
		<ul>
			<% if @reservations.present? 
				@reservations.reverse.each do |r| %>
					<li><%= link_to "#{r.created_at}   |   Reservation:  #R#{r.id}  |   #{r.size.listing.brand.brand}  |  #{r.size.listing.name}  |  #{number_to_currency(r.size.price)}", r %></li>
				<% end %>
			<% else %>
				<p> You currently have no reservations</p>
			<% end %>
		</ul>
	</div>
</article>