<h1>Home</h1>

<%# form_tag listings_path, method: :get do %>
	<%# text_field_tag :query, params[:query],
	placeholder: "Your Location"%>
	<%# submit_tag "Search Beans"%>
<%# end %>

<%# <div class="input-group">   %>
	<%#search_field_tag :search, params[:search], placeholder: "Your Location", class: "form-control" %>  
	<%# <div #class="input-group-btn">   %>
		<%#button_tag "Search Beans"%>  
	<%# </div>   %>
<%# </div> %>
