<%# <div class="title-container">
	<div class='title-wrap'>
		<h1 class="home-title align-middle">Beans</h1>
	</div>
</div> %>

<div class="home">
	<div class="fix-title">
		<h1 class="home-title align-middle"><%= link_to ".Coffee?", listings_path, :style=>'font-size: 100vw; color: #FFFBF8; opacity: 0%;' %></h1>
	</div>
</div>