<div class="home">
	<div class="fix-title">
			<div class="home-title form-inputs" style="min-width: 30px;">
				<%= form_tag listings_path, method: :get do %>
					<%= text_field_tag :query, params[:query],
					placeholder: "Suburb or Postcode", class: "form-control", style: "padding-right: 16vw; margin-bottom: 1vw"%>
					<%= submit_tag "Search Beans", class: 'btn btn-light'%>
				<% end%>
			</div>
	</div>
</div>
