/*fonts*/

$logo-font: 'porter_sans_blockblock';
$title-font: 'Darker Grotesque';
$text-font: 'Oxygen Mono';

/*colours*/

$alert-color: #FF636C;
$text-color: #726E6B;
$button-color: #AEFFB6;
$primary-color: #F3EBDF;
$secondary-color: #F8F6F3;
$accent-color: #FFEFDD;
$light-color: #FFFBF8;
