
.local-beans{
	font-family: 'porter_sans_blockblock';
	color: #726E6B;
	margin: auto;
}

// .custom_nav_link{
// 	padding: 2vw;
// }

.navbar{
	background-color: #EEDDCD;
	width: 100%;
}

.custom_nav_link {
  padding: 0 2vw;
}




