// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.edit_user{
	margin: auto !important;
	.field{
		margin: auto !important;
	}
}

.actions{
	margin: 2rem;
}