// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.edit_user{
	margin: auto !important;
	.field{
		margin: auto !important;
	}
}

.actions{
	margin: 2rem;
}

.page-container{
	max-width: 800px;
	margin: auto;
	.profile-info{
		.stockist-address{
			text-align: end;
		}
	}
}

.buttons {
	margin-bottom: 2vw;
	button{
		margin: 1vw;
	}
}

