@import "./scss_stylesheets/global.scss";
@import "./scss_stylesheets/fonts.scss";
@import "./scss_stylesheets/variable.scss";
@import "./scss_stylesheets/nav.scss";
@import "./scss_stylesheets/profiles.scss";
@import "./scss_stylesheets/listings.scss";

/*fonts*/
$logo-font: 'porter_sans_blockblock';
$font: 'Darker Grotesque';
$title-font: 'Oxygen Mono';

/*colours*/

// $alert-color: #FF636C;
// $text-color: #726E6B;
// $button-color: #AEFFB6;
// $primary-color: #F3EBDF;
// $secondary-color: #F8F6F3;
// $accent-color: #FFEFDD;
// $light-color: #FFFBF8;

$primary: #AEFFB6;
// $danger: #FF636C;

$link-color: #AEFFB6;
// $link-hover-color;
// $gray-600;

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );

// a, a:visited, a:active{
// 	font-family: 'Oxygen Mono', sans-serif;
// 	text-decoration: none;
// 	color: #726E6B;
// }
// a:hover{
// 	color: $button-color;
// 	text-decoration: none !important;
// }

// GLOBAL

body{
	font-family: 'Darker Grotesque';
	margin: 0 auto !important;
	background-color: #F3EBDF;
	font-weight: 400;
}

h1, h2, h3{
	font-family: 'porter_sans_blockblock'; //$logo-font
	color: #726E6B; //$text-color
	text-align: end;
}

a, a:visited, a:active{
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #726E6B;
}

a:hover{
	color: #726E6B;
	text-decoration: none !important;
	font-size: 20px;
	font-weight: 600;
}

li{
	list-style-type: none !important; 
}

// NAV


// FORM

// BUTTON
.btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
	background-color: #AEFFB6 !important;
}

// DELETE BUTTON
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
	background-color: #FF636C !important;
}

.was-validated .form-control:valid, .form-control.is-valid {
	border-color: #AEFFB6 !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid{
	border-color: #FF636C !important;
}
.alert-danger {
	color: #a5010a;
	background-color: #f8d7da;
	border-color: #FF636C;
}